/*---------- Body ------------------*/
* {
  /* border-top: 1px solid red; */
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 300px auto;
  grid-template-rows: 50px 1fr;
  font-family: 'Open Sans', sans-serif;
}

label{
  display: block;
}

.flex {
  display: flex;
}

.visible {
  display: block;
}  

.hidden {
  display: hidden;
}

.card__task-ico{
  width: 20px;
  display: inline;
  align-self: center;
}
/*---------- Header ----------------*/

header {
  background-color: #1f1f3d;
  grid-column: 1/ span 2;
  grid-row: 1; 
  align-items: center;
  justify-content: space-between;
  padding:0 10px;
}

h1 {
  color: #ffffff;
}

span {
  color: yellow;
}

.header__input-searchbar {
  height: 70%;
}

/*---------- Aside -----------------*/

aside {
  min-width: 300px;
  background-color: #587a8b;
  border-right: #314955;
  grid-column: 1;
}

form {
  align-content: flex-start;
  color: #ffffff;
  flex-direction: column;
  padding: 10px;
}

button {
  background-color: #1f1f3d;
  color: #ffffff;
  outline: none;
  border: 0;
}

ul{
  margin:0;
}

li{
  list-style-type: none;
}

li:hover{
  font-weight: 700;
}
.form__input {
  border-radius: 3px;
  margin: 10px 0;
  height: 40px;
  border: 2px solid #1f1f3d;
  padding-left: 5px;
}

.form__input-task{
  width: 90%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form__checkbox-task {
  margin: 10px 0;
}

.form__task-container{
  padding: 20px;
}

.form__task-icon{
  font-size: 2em;
  margin-top: 10px;
  height: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.error{
  border: 3px solid red;
}
/*---------- Main ------------------*/

main {
  background-color: #f4f7f8;
  column-width: 13em;
}

/*---------- Article ---------------*/

article {
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
  width:  100%; 
}

h3 {
  margin-top: 0;
  border-bottom: 1px solid #C7D3D8;
}

.card__task-container {
  background-color: #fbfdff;
  border: 1px solid #C7D3D8;
  margin:10px;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.card__task-top {

}

.card__task-list {

}

.card__task-modify {
 border-top: 1px solid #C7D3D8;
 padding-top: 5px;
 vertical-align: baseline;
 justify-content: space-between;
 height:30px;
}

.task-checkbox{
  vertical-align: middle;
}
/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px){

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
